@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
/* body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
} */


.content header{
    color: white;
    font-size: 33px;
    font-weight: 600px;
    margin: 0 0 35px 0; 
    font-family: 'Montserrat', sans-serif;

}

.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.space {
    margin-top: 16px;
}

input[type="submit"]{
    background: #2691d9;
    border: 1px solid #1d2d50;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Montserrat',sans-serif;
}
input[type="submit"]:hover{
    background: rgb(59, 34, 65);
}
.login{
    color: white;
    margin: 20px 0;
    font-family: 'Poppins',sans-serif;
}


.container{
    max-width: 800px;
    width: 100%;
    background: rgba(255, 255,255,0.14);
    padding: 25px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    border-radius: 8px;
    box-shadow: -1px 4px 28px 0px rgba(0, 0,0,0.75);
}
.table-container{
    max-width: 800px;
    width: 100%;
    background: rgba(255, 255,255,0.14);
    padding: 25px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    border-radius: 8px;
    box-shadow: -1px 4px 28px 0px rgba(0, 0,0,0.75);
}
.login-container{
    max-width: 500px;
    width: 100%;
    background: rgba(255, 255,255,0.14);
    padding: 25px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    border-radius: 8px;
    box-shadow: -1px 4px 28px 0px rgba(0, 0,0,0.75);
}
.home-container{
    max-width: 700px;
    width: 100%;
    background: rgba(255, 255,255,0.14);
    padding: 25px 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    border-radius: 8px;
    box-shadow: -1px 4px 28px 0px rgba(0, 0,0,0.75);
}
.container header{
    color: white;
    font-size: 33px;
    font-weight: 600px;
    margin: 0 0 15px 0; 
    font-family: 'Montserrat', sans-serif;
    position: relative;

}
.container header::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: red;
}


/*@media (min-width: 962px) {
    body {
      overflow: auto !important;
    }
    main {
      margin-left: 300px;
      margin-top: 56px;
    }
    .offcanvas-backdrop::before {
      display: none;
    }
    .sidebar-nav {
      -webkit-transform: none;
      transform: none;
      visibility: visible !important;
      height: calc(100% - var(--topNavbarHeight));
      top: var(--topNavbarHeight);
    }
    
  }*/

/*@media (max-width:600px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box  input{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .gender-category{
        width: 100%;
    }
}

@media (max-width:490px){
    body{
        background: white;
    }
    .bg-img{
        background: white;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
    .container{
        max-width: 80%;
        margin-top: 30%;
        margin-left: 2%;
    }
    form .user-details .input-box  input{
        margin-bottom: 10px;
        width: 100%;
    }
    form .gender-details .gender-category{
        width: 100%;
    }

    form .register_btn{
    height: 45px;
    margin: 20px 0;
}

}*/


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

