{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <!-- Button trigger modal -->
        <div class="row">

			<div class="container">
				<div class="row">
                    <div class="col-12">
                        <form action="{{ url_for('create_customer') }}" method="POST" class="form-new-customer">
        
                            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Add a new customer</h1>
                            {% if success_message|length > 0 %}
                                <h4 class="alert-success" style="text-align: center">{{success_message}}</h4>
                            {% endif %}
                            {% if failed_message|length > 0 %}
                                <h4 class="alert-danger" style="text-align: center">{{failed_message}}</h4>
                            {% endif %}
                            <p>Company name</p>
                            <input name ="company_name" type="text" id="company_name" class="mt-1 form-control space" placeholder="Company Name" maxlength="50" value="{{company_name}}" autofocus="">
                            <p class="space">Company email address</p>
                            <input name ="customer_email" type="email" id="customer_email" class="form-control space" placeholder="Company Email" maxlength="50" value="{{customer_email}}"  autofocus="">
                            <!-- max length does not quite work well with type numbers so the following is done to handle the max length -->
                            <p class="space">Contact number</p>
                            <input name ="contact_number" id="contact_number" class="form-control space"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                type = "number"
                                maxlength = "11" 
                                placeholder="Contact number" maxlength="11" value="{{contact_number}}" autofocus="">
                            <button name="back" class="btn btn-primary btn-block space" type="submit"><i class="bi bi-backspace"></i> Back</button>
                            <button name="add_customer" class="btn btn-primary btn-block space pull-right" type="submit"><i class="bi bi-plus-square"></i> Add customer</button>
                        </form>
                  </div>
			</div>
        </div>

</main>
{% endblock %}